@import url("https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Noto+Sans+KR:wght@200;300;400;500;600;700;800;900&display=swap");

@font-face {
  font-family: "KingSejongInstitute";
  src: local("KingSejongInstitute"),
    url("../fonts/KingSejongInstitute-Bold.ttf") format("truetype"),
    url("../fonts/KingSejongInstitute-Regular.ttf") format("truetype");
}
@font-face {
  font-family: 'KimjungchulMyungjo-Bold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/KimjungchulMyungjo-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}